<p><center><table border=3 cellpadding=3><td>
<pre>
                 | UNIX> <font color=darkred><b>bin/bubble_sort 8 1 14 yes yes</b></font>
Before the loop: | 3.62 6.14 4.35 3.88 4.12 8.09 6.28 0.72
i = 0            | <font  style="background-color: #ffff80">3.62 4.35 3.88 4.12 6.14 6.28 0.72 8.09</font> 
i = 1            | <font  style="background-color: #ffff80">3.62 3.88 4.12 4.35 6.14 0.72 6.28</font> 8.09 
i = 2            | <font  style="background-color: #ffff80">3.62 3.88 4.12 4.35 0.72 6.14</font> 6.28 8.09 
i = 3            | <font  style="background-color: #ffff80">3.62 3.88 4.12 0.72 4.35</font> 6.14 6.28 8.09 
i = 4            | <font  style="background-color: #ffff80">3.62 3.88 0.72 4.12</font> 4.35 6.14 6.28 8.09 
i = 5            | <font  style="background-color: #ffff80">3.62 0.72 3.88</font> 4.12 4.35 6.14 6.28 8.09 
i = 6            | <font  style="background-color: #ffff80">0.72 3.62</font> 3.88 4.12 4.35 6.14 6.28 8.09 
                 | UNIX> 
</pre>
</td></table></center><p>
