<p><center><table border=3 cellpadding=3><td><pre>
       | UNIX> <font color=darkred><b>bin/heap_sort 8 1 0 no yes</b></font>                                                            |
vector | 1.71 7.50 0.96 8.70 5.77 7.86 6.92 3.69    <font  style="background-color: #ffffaa">0.96</font>  3.69  1.71  7.50  5.77  7.86  6.92  8.70   | heap
       | <font  style="background-color: #ffaaaa">0.96</font> 7.50 0.96 8.70 5.77 7.86 6.92 3.69    <font  style="background-color: #ffffaa">1.71</font>  3.69  6.92  7.50  5.77  7.86  8.70         |
       | <font  style="background-color: #ffaaaa">0.96 1.71</font> 0.96 8.70 5.77 7.86 6.92 3.69    <font  style="background-color: #ffffaa">3.69</font>  5.77  6.92  7.50  8.70  7.86               |
       | <font  style="background-color: #ffaaaa">0.96 1.71 3.69</font> 8.70 5.77 7.86 6.92 3.69    <font  style="background-color: #ffffaa">5.77</font>  7.50  6.92  7.86  8.70                     |
       | <font  style="background-color: #ffaaaa">0.96 1.71 3.69 5.77</font> 5.77 7.86 6.92 3.69    <font  style="background-color: #ffffaa">6.92</font>  7.50  8.70  7.86                           |
       | <font  style="background-color: #ffaaaa">0.96 1.71 3.69 5.77 6.92</font> 7.86 6.92 3.69    <font  style="background-color: #ffffaa">7.50</font>  7.86  8.70                                 |
       | <font  style="background-color: #ffaaaa">0.96 1.71 3.69 5.77 6.92 7.50</font> 6.92 3.69    <font  style="background-color: #ffffaa">7.86</font>  8.70                                       |
       | <font  style="background-color: #ffaaaa">0.96 1.71 3.69 5.77 6.92 7.50 7.86</font> 3.69    <font  style="background-color: #ffffaa">8.70</font>                                             |
       | <font  style="background-color: #ffaaaa">0.96 1.71 3.69 5.77 6.92 7.50 7.86 8.70</font>                                                     |
       | UNIX> <font color=darkred><b></b></font>                                                                                      |
</pre></td></table></center><p>
