<p><center><table border=3 cellpadding=3><td><pre>
                |  UNIX> <font color=darkred><b>bin/heap_fast_sort 8 1 0 no yes</b></font>    | 
  heap, but     |  <font  style="background-color: #ffffaa">8.70 7.50 7.86 3.69 5.77 0.96 6.92 1.71</font>  | the vector is filled
  storing max   |  <font  style="background-color: #ffffaa">7.86 7.50 6.92 3.69 5.77 0.96 1.71</font><font  style="background-color: #ffaaaa"> 8.70</font>  | in from right to left
  values rather |  <font  style="background-color: #ffffaa">7.50 5.77 6.92 3.69 1.71 0.96</font><font  style="background-color: #ffaaaa"> 7.86 8.70</font>  | with the maximum element
  than min      |  <font  style="background-color: #ffffaa">6.92 5.77 0.96 3.69 1.71</font><font  style="background-color: #ffaaaa"> 7.50 7.86 8.70</font>  | popped off the heap.
  values:       |  <font  style="background-color: #ffffaa">5.77 3.69 0.96 1.71</font><font  style="background-color: #ffaaaa"> 6.92 7.50 7.86 8.70</font>  | 
                |  <font  style="background-color: #ffffaa">3.69 1.71 0.96</font><font  style="background-color: #ffaaaa"> 5.77 6.92 7.50 7.86 8.70</font>  | 
                |  <font  style="background-color: #ffffaa">1.71 0.96</font><font  style="background-color: #ffaaaa"> 3.69 5.77 6.92 7.50 7.86 8.70</font>  | 
                |  <font  style="background-color: #ffffaa">0.96</font><font  style="background-color: #ffaaaa"> 1.71 3.69 5.77 6.92 7.50 7.86 8.70</font>  | 
                |  UNIX> 
</pre></td></table></center><p>
