<p><center><table border=3 cellpadding=3><td valign=top> <pre>
UNIX> <font color=darkred><b>bin/insertion_1_sorted 20 1 0 no yes </b></font>
0.17 0.85 0.30 1.17 0.98 1.29 1.29 1.07 1.67 1.65 1.45 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 <font style="background-color: #d0d0FF">0.85</font> 0.30 1.17 0.98 1.29 1.29 1.07 1.67 1.65 1.45 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 <font style="background-color: #d0d0FF">0.30</font><font style="background-color: #FFFFaa"> 0.85</font> 1.17 0.98 1.29 1.29 1.07 1.67 1.65 1.45 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 <font style="background-color: #d0d0FF">1.17</font> 0.98 1.29 1.29 1.07 1.67 1.65 1.45 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 <font style="background-color: #d0d0FF">0.98</font><font style="background-color: #FFFFaa"> 1.17</font> 1.29 1.29 1.07 1.67 1.65 1.45 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.17 <font style="background-color: #d0d0FF">1.29</font> 1.29 1.07 1.67 1.65 1.45 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.17 1.29 <font style="background-color: #d0d0FF">1.29</font> 1.07 1.67 1.65 1.45 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 <font style="background-color: #d0d0FF">1.07</font><font style="background-color: #FFFFaa"> 1.17 1.29 1.29</font> 1.67 1.65 1.45 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 <font style="background-color: #d0d0FF">1.67</font> 1.65 1.45 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 <font style="background-color: #d0d0FF">1.65</font><font style="background-color: #FFFFaa"> 1.67</font> 1.45 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 <font style="background-color: #d0d0FF">1.45</font><font style="background-color: #FFFFaa"> 1.65 1.67</font> 1.45 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 1.45 <font style="background-color: #d0d0FF">1.45</font><font style="background-color: #FFFFaa"> 1.65 1.67</font> 1.93 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 1.45 1.45 1.65 1.67 <font style="background-color: #d0d0FF">1.93</font> 1.56 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 1.45 1.45 <font style="background-color: #d0d0FF">1.56</font><font style="background-color: #FFFFaa"> 1.65 1.67 1.93</font> 1.79 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 1.45 1.45 1.56 1.65 1.67 <font style="background-color: #d0d0FF">1.79</font><font style="background-color: #FFFFaa"> 1.93</font> 2.28 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 1.45 1.45 1.56 1.65 1.67 1.79 1.93 <font style="background-color: #d0d0FF">2.28</font> 2.45 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 1.45 1.45 1.56 1.65 1.67 1.79 1.93 2.28 <font style="background-color: #d0d0FF">2.45</font> 2.28 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 1.45 1.45 1.56 1.65 1.67 1.79 1.93 2.28 <font style="background-color: #d0d0FF">2.28</font><font style="background-color: #FFFFaa"> 2.45</font> 2.52 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 1.45 1.45 1.56 1.65 1.67 1.79 1.93 2.28 2.28 2.45 <font style="background-color: #d0d0FF">2.52</font> 1.98 
0.17 0.30 0.85 0.98 1.07 1.17 1.29 1.29 1.45 1.45 1.56 1.65 1.67 1.79 1.93 <font style="background-color: #d0d0FF">1.98</font><font style="background-color: #FFFFaa"> 2.28 2.28 2.45 2.52 </font>
UNIX> 
</pre></td></table></center><p>
