<p><center><table border=3 cellpadding=3><td>
<pre>
                                                | UNIX> <font color=darkred><b>bin/insertion_1_sort 8 1 4 yes yes</b></font>
Before the loop. The first element is sorted.   | 6.54 5.68 0.50 7.33 5.30 6.50 6.74 8.55 
Iteration 0: The first 2 elements are sorted.   | <font style="background-color: #d0d0FF">5.68 </font><font style="background-color: #FFFFaa">6.54</font> 0.50 7.33 5.30 6.50 6.74 8.55 
Iteration 1: The first 3 elements are sorted.   | <font style="background-color: #d0d0FF">0.50 </font><font style="background-color: #FFFFaa">5.68 6.54</font> 7.33 5.30 6.50 6.74 8.55 
Iteration 2: The first 4 elements are sorted.   | 0.50 5.68 6.54 <font style="background-color: #d0d0FF">7.33</font> 5.30 6.50 6.74 8.55 
Iteration 3: The first 5 elements are sorted.   | 0.50 <font style="background-color: #d0d0FF">5.30</font><font style="background-color: #FFFFaa"> 5.68 6.54 7.33</font> 6.50 6.74 8.55 
Iteration 4: The first 6 elements are sorted.   | 0.50 5.30 5.68 <font style="background-color: #d0d0FF">6.50</font><font style="background-color: #FFFFaa"> 6.54 7.33</font> 6.74 8.55 
Iteration 5: The first 7 elements are sorted.   | 0.50 5.30 5.68 6.50 6.54 <font style="background-color: #d0d0FF">6.74</font><font style="background-color: #FFFFaa"> 7.33</font> 8.55 
Iteration 6:       All 8 elements are sorted.   | 0.50 5.30 5.68 6.50 6.54 6.74 7.33 <font style="background-color: #d0d0FF">8.55</font> 
                                                | UNIX> <font color=darkred><b></b></font>
</pre>
</pre></td></table></center><p>
