<p><center><table border=3 cellpadding=3><td>
<pre>
UNIX> <font color=darkred><b>bin/merge_1_sort 16 1 1 yes yes</b></font>
B:     0    16      <font  style="background-color: #ffaaaa">  0.42</font><font  style="background-color: #ffaaaa">  4.54</font><font  style="background-color: #ffaaaa">  8.35</font><font  style="background-color: #ffaaaa">  3.36</font><font  style="background-color: #ffaaaa">  5.65</font><font  style="background-color: #ffaaaa">  0.02</font><font  style="background-color: #ffaaaa">  1.88</font><font  style="background-color: #ffaaaa">  9.90</font><font  style="background-color: #ffaaaa">  7.50</font><font  style="background-color: #ffaaaa">  3.66</font><font  style="background-color: #ffaaaa">  3.51</font><font  style="background-color: #ffaaaa">  5.73</font><font  style="background-color: #ffaaaa">  1.33</font><font  style="background-color: #ffaaaa">  0.64</font><font  style="background-color: #ffaaaa">  9.51</font><font  style="background-color: #ffaaaa">  1.54</font>
B:     0     8      <font  style="background-color: #ffaaaa">  0.42</font><font  style="background-color: #ffaaaa">  4.54</font><font  style="background-color: #ffaaaa">  8.35</font><font  style="background-color: #ffaaaa">  3.36</font><font  style="background-color: #ffaaaa">  5.65</font><font  style="background-color: #ffaaaa">  0.02</font><font  style="background-color: #ffaaaa">  1.88</font><font  style="background-color: #ffaaaa">  9.90</font>  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
B:     0     4      <font  style="background-color: #ffaaaa">  0.42</font><font  style="background-color: #ffaaaa">  4.54</font><font  style="background-color: #ffaaaa">  8.35</font><font  style="background-color: #ffaaaa">  3.36</font>  5.65  0.02  1.88  9.90  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
B:     0     2      <font  style="background-color: #ffaaaa">  0.42</font><font  style="background-color: #ffaaaa">  4.54</font>  8.35  3.36  5.65  0.02  1.88  9.90  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
E:     0     2      <font  style="background-color: #ffff00">  0.42</font><font  style="background-color: #ffff00">  4.54</font>  8.35  3.36  5.65  0.02  1.88  9.90  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
B:     2     2        0.42  4.54<font  style="background-color: #ffaaaa">  8.35</font><font  style="background-color: #ffaaaa">  3.36</font>  5.65  0.02  1.88  9.90  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
E:     2     2        0.42  4.54<font  style="background-color: #ffff00">  3.36</font><font  style="background-color: #ffff00">  8.35</font>  5.65  0.02  1.88  9.90  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
E:     0     4      <font  style="background-color: #ffff00">  0.42</font><font  style="background-color: #ffff00">  3.36</font><font  style="background-color: #ffff00">  4.54</font><font  style="background-color: #ffff00">  8.35</font>  5.65  0.02  1.88  9.90  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
B:     4     4        0.42  3.36  4.54  8.35<font  style="background-color: #ffaaaa">  5.65</font><font  style="background-color: #ffaaaa">  0.02</font><font  style="background-color: #ffaaaa">  1.88</font><font  style="background-color: #ffaaaa">  9.90</font>  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
B:     4     2        0.42  3.36  4.54  8.35<font  style="background-color: #ffaaaa">  5.65</font><font  style="background-color: #ffaaaa">  0.02</font>  1.88  9.90  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
E:     4     2        0.42  3.36  4.54  8.35<font  style="background-color: #ffff00">  0.02</font><font  style="background-color: #ffff00">  5.65</font>  1.88  9.90  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
B:     6     2        0.42  3.36  4.54  8.35  0.02  5.65<font  style="background-color: #ffaaaa">  1.88</font><font  style="background-color: #ffaaaa">  9.90</font>  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
E:     6     2        0.42  3.36  4.54  8.35  0.02  5.65<font  style="background-color: #ffff00">  1.88</font><font  style="background-color: #ffff00">  9.90</font>  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
E:     4     4        0.42  3.36  4.54  8.35<font  style="background-color: #ffff00">  0.02</font><font  style="background-color: #ffff00">  1.88</font><font  style="background-color: #ffff00">  5.65</font><font  style="background-color: #ffff00">  9.90</font>  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
E:     0     8      <font  style="background-color: #ffff00">  0.02</font><font  style="background-color: #ffff00">  0.42</font><font  style="background-color: #ffff00">  1.88</font><font  style="background-color: #ffff00">  3.36</font><font  style="background-color: #ffff00">  4.54</font><font  style="background-color: #ffff00">  5.65</font><font  style="background-color: #ffff00">  8.35</font><font  style="background-color: #ffff00">  9.90</font>  7.50  3.66  3.51  5.73  1.33  0.64  9.51  1.54
B:     8     8        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90<font  style="background-color: #ffaaaa">  7.50</font><font  style="background-color: #ffaaaa">  3.66</font><font  style="background-color: #ffaaaa">  3.51</font><font  style="background-color: #ffaaaa">  5.73</font><font  style="background-color: #ffaaaa">  1.33</font><font  style="background-color: #ffaaaa">  0.64</font><font  style="background-color: #ffaaaa">  9.51</font><font  style="background-color: #ffaaaa">  1.54</font>
B:     8     4        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90<font  style="background-color: #ffaaaa">  7.50</font><font  style="background-color: #ffaaaa">  3.66</font><font  style="background-color: #ffaaaa">  3.51</font><font  style="background-color: #ffaaaa">  5.73</font>  1.33  0.64  9.51  1.54
B:     8     2        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90<font  style="background-color: #ffaaaa">  7.50</font><font  style="background-color: #ffaaaa">  3.66</font>  3.51  5.73  1.33  0.64  9.51  1.54
E:     8     2        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90<font  style="background-color: #ffff00">  3.66</font><font  style="background-color: #ffff00">  7.50</font>  3.51  5.73  1.33  0.64  9.51  1.54
B:    10     2        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90  3.66  7.50<font  style="background-color: #ffaaaa">  3.51</font><font  style="background-color: #ffaaaa">  5.73</font>  1.33  0.64  9.51  1.54
E:    10     2        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90  3.66  7.50<font  style="background-color: #ffff00">  3.51</font><font  style="background-color: #ffff00">  5.73</font>  1.33  0.64  9.51  1.54
E:     8     4        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90<font  style="background-color: #ffff00">  3.51</font><font  style="background-color: #ffff00">  3.66</font><font  style="background-color: #ffff00">  5.73</font><font  style="background-color: #ffff00">  7.50</font>  1.33  0.64  9.51  1.54
B:    12     4        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90  3.51  3.66  5.73  7.50<font  style="background-color: #ffaaaa">  1.33</font><font  style="background-color: #ffaaaa">  0.64</font><font  style="background-color: #ffaaaa">  9.51</font><font  style="background-color: #ffaaaa">  1.54</font>
B:    12     2        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90  3.51  3.66  5.73  7.50<font  style="background-color: #ffaaaa">  1.33</font><font  style="background-color: #ffaaaa">  0.64</font>  9.51  1.54
E:    12     2        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90  3.51  3.66  5.73  7.50<font  style="background-color: #ffff00">  0.64</font><font  style="background-color: #ffff00">  1.33</font>  9.51  1.54
B:    14     2        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90  3.51  3.66  5.73  7.50  0.64  1.33<font  style="background-color: #ffaaaa">  9.51</font><font  style="background-color: #ffaaaa">  1.54</font>
E:    14     2        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90  3.51  3.66  5.73  7.50  0.64  1.33<font  style="background-color: #ffff00">  1.54</font><font  style="background-color: #ffff00">  9.51</font>
E:    12     4        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90  3.51  3.66  5.73  7.50<font  style="background-color: #ffff00">  0.64</font><font  style="background-color: #ffff00">  1.33</font><font  style="background-color: #ffff00">  1.54</font><font  style="background-color: #ffff00">  9.51</font>
E:     8     8        0.02  0.42  1.88  3.36  4.54  5.65  8.35  9.90<font  style="background-color: #ffff00">  0.64</font><font  style="background-color: #ffff00">  1.33</font><font  style="background-color: #ffff00">  1.54</font><font  style="background-color: #ffff00">  3.51</font><font  style="background-color: #ffff00">  3.66</font><font  style="background-color: #ffff00">  5.73</font><font  style="background-color: #ffff00">  7.50</font><font  style="background-color: #ffff00">  9.51</font>
E:     0    16      <font  style="background-color: #ffff00">  0.02</font><font  style="background-color: #ffff00">  0.42</font><font  style="background-color: #ffff00">  0.64</font><font  style="background-color: #ffff00">  1.33</font><font  style="background-color: #ffff00">  1.54</font><font  style="background-color: #ffff00">  1.88</font><font  style="background-color: #ffff00">  3.36</font><font  style="background-color: #ffff00">  3.51</font><font  style="background-color: #ffff00">  3.66</font><font  style="background-color: #ffff00">  4.54</font><font  style="background-color: #ffff00">  5.65</font><font  style="background-color: #ffff00">  5.73</font><font  style="background-color: #ffff00">  7.50</font><font  style="background-color: #ffff00">  8.35</font><font  style="background-color: #ffff00">  9.51</font><font  style="background-color: #ffff00">  9.90</font>
                      0.02  0.42  0.64  1.33  1.54  1.88  3.36  3.51  3.66  4.54  5.65  5.73  7.50  8.35  9.51  9.90
</pre>
</td></table></center><p>
