<p><center><table border=3 cellpadding=3><td><pre>
UNIX> <font color=darkred><b>bin/quick_1_lab_sort 12 1 6000 yes yes</b></font>
S:     0    12       <font color=blue> 9.85</font> <font color=red> 2.93</font> <font color=red> 7.70</font> <font color=red> 9.85</font> <font color=red> 7.70</font> <font color=red> 9.85</font> <font color=red> 7.70</font> <font color=red> 2.93</font> <font color=red> 9.85</font> <font color=red> 2.93</font> <font color=red> 2.93</font> <font color=red> 9.85</font>
P:     0    12     8 <font color=red> 2.93</font> <font color=red> 2.93</font> <font color=red> 7.70</font> <font color=red> 9.85</font> <font color=red> 7.70</font> <font color=red> 2.93</font> <font color=red> 7.70</font> <font color=red> 2.93</font> <font color=blue> 9.85</font> <font color=red> 9.85</font> <font color=red> 9.85</font> <font color=red> 9.85</font>
S:     0     8       <font color=blue> 2.93</font> <font color=red> 2.93</font> <font color=red> 7.70</font> <font color=red> 9.85</font> <font color=red> 7.70</font> <font color=red> 2.93</font> <font color=red> 7.70</font> <font color=red> 2.93</font>  9.85  9.85  9.85  9.85
P:     0     8     2 <font color=red> 2.93</font> <font color=red> 2.93</font> <font color=blue> 2.93</font> <font color=red> 9.85</font> <font color=red> 7.70</font> <font color=red> 7.70</font> <font color=red> 7.70</font> <font color=red> 2.93</font>  9.85  9.85  9.85  9.85
S:     0     2       <font color=red> 2.93</font> <font color=red> 2.93</font>  2.93  9.85  7.70  7.70  7.70  2.93  9.85  9.85  9.85  9.85
S:     3     5        2.93  2.93  2.93 <font color=blue> 9.85</font> <font color=red> 7.70</font> <font color=red> 7.70</font> <font color=red> 7.70</font> <font color=red> 2.93</font>  9.85  9.85  9.85  9.85
P:     3     5     7  2.93  2.93  2.93 <font color=red> 2.93</font> <font color=red> 7.70</font> <font color=red> 7.70</font> <font color=red> 7.70</font> <font color=blue> 9.85</font>  9.85  9.85  9.85  9.85
S:     3     4        2.93  2.93  2.93 <font color=blue> 2.93</font> <font color=red> 7.70</font> <font color=red> 7.70</font> <font color=red> 7.70</font>  9.85  9.85  9.85  9.85  9.85
P:     3     4     3  2.93  2.93  2.93 <font color=blue> 2.93</font> <font color=red> 7.70</font> <font color=red> 7.70</font> <font color=red> 7.70</font>  9.85  9.85  9.85  9.85  9.85
S:     3     0        2.93  2.93  2.93  2.93  7.70  7.70  7.70  9.85  9.85  9.85  9.85  9.85
S:     4     3        2.93  2.93  2.93  2.93 <font color=blue> 7.70</font> <font color=red> 7.70</font> <font color=red> 7.70</font>  9.85  9.85  9.85  9.85  9.85
P:     4     3     5  2.93  2.93  2.93  2.93 <font color=red> 7.70</font> <font color=blue> 7.70</font> <font color=red> 7.70</font>  9.85  9.85  9.85  9.85  9.85
S:     4     1        2.93  2.93  2.93  2.93 <font color=red> 7.70</font>  7.70  7.70  9.85  9.85  9.85  9.85  9.85
S:     6     1        2.93  2.93  2.93  2.93  7.70  7.70 <font color=red> 7.70</font>  9.85  9.85  9.85  9.85  9.85
S:     8     0        2.93  2.93  2.93  2.93  7.70  7.70  7.70  9.85  9.85  9.85  9.85  9.85
S:     9     3        2.93  2.93  2.93  2.93  7.70  7.70  7.70  9.85  9.85 <font color=blue> 9.85</font> <font color=red> 9.85</font> <font color=red> 9.85</font>
P:     9     3    10  2.93  2.93  2.93  2.93  7.70  7.70  7.70  9.85  9.85 <font color=red> 9.85</font> <font color=blue> 9.85</font> <font color=red> 9.85</font>
S:     9     1        2.93  2.93  2.93  2.93  7.70  7.70  7.70  9.85  9.85 <font color=red> 9.85</font>  9.85  9.85
S:    11     1        2.93  2.93  2.93  2.93  7.70  7.70  7.70  9.85  9.85  9.85  9.85 <font color=red> 9.85</font>
                      2.93  2.93  2.93  2.93  7.70  7.70  7.70  9.85  9.85  9.85  9.85  9.85
UNIX>
</pre></td></table></center><p>
