<p><center><table border=3 cellpadding=3><td><pre>
UNIX> <font color=darkred><b>bin/quick_1_sort 12 1 82 no yes </b></font>
S:     0    12       <font color=blue> 5.77</font> <font color=red> 5.26</font> <font color=red> 6.49</font> <font color=red> 0.43</font> <font color=red> 6.09</font> <font color=red> 4.95</font> <font color=red> 3.15</font> <font color=red> 3.46</font> <font color=red> 7.55</font> <font color=red> 6.82</font> <font color=red> 6.69</font> <font color=red> 3.62</font>
P:     0    12     6 <font color=red> 3.15</font> <font color=red> 5.26</font> <font color=red> 3.62</font> <font color=red> 0.43</font> <font color=red> 3.46</font> <font color=red> 4.95</font> <font color=blue> 5.77</font> <font color=red> 6.09</font> <font color=red> 7.55</font> <font color=red> 6.82</font> <font color=red> 6.69</font> <font color=red> 6.49</font>
S:     0     6       <font color=blue> 3.15</font> <font color=red> 5.26</font> <font color=red> 3.62</font> <font color=red> 0.43</font> <font color=red> 3.46</font> <font color=red> 4.95</font>  5.77  6.09  7.55  6.82  6.69  6.49
P:     0     6     1 <font color=red> 0.43</font> <font color=blue> 3.15</font> <font color=red> 3.62</font> <font color=red> 5.26</font> <font color=red> 3.46</font> <font color=red> 4.95</font>  5.77  6.09  7.55  6.82  6.69  6.49
S:     0     1       <font color=red> 0.43</font>  3.15  3.62  5.26  3.46  4.95  5.77  6.09  7.55  6.82  6.69  6.49
S:     2     4        0.43  3.15 <font color=blue> 3.62</font> <font color=red> 5.26</font> <font color=red> 3.46</font> <font color=red> 4.95</font>  5.77  6.09  7.55  6.82  6.69  6.49
P:     2     4     3  0.43  3.15 <font color=red> 3.46</font> <font color=blue> 3.62</font> <font color=red> 5.26</font> <font color=red> 4.95</font>  5.77  6.09  7.55  6.82  6.69  6.49
S:     2     1        0.43  3.15 <font color=red> 3.46</font>  3.62  5.26  4.95  5.77  6.09  7.55  6.82  6.69  6.49
S:     4     2        0.43  3.15  3.46  3.62 <font color=red> 5.26</font> <font color=red> 4.95</font>  5.77  6.09  7.55  6.82  6.69  6.49
S:     7     5        0.43  3.15  3.46  3.62  4.95  5.26  5.77 <font color=blue> 6.09</font> <font color=red> 7.55</font> <font color=red> 6.82</font> <font color=red> 6.69</font> <font color=red> 6.49</font>
P:     7     5     7  0.43  3.15  3.46  3.62  4.95  5.26  5.77 <font color=blue> 6.09</font> <font color=red> 7.55</font> <font color=red> 6.82</font> <font color=red> 6.69</font> <font color=red> 6.49</font>
S:     7     0        0.43  3.15  3.46  3.62  4.95  5.26  5.77  6.09  7.55  6.82  6.69  6.49
S:     8     4        0.43  3.15  3.46  3.62  4.95  5.26  5.77  6.09 <font color=blue> 7.55</font> <font color=red> 6.82</font> <font color=red> 6.69</font> <font color=red> 6.49</font>
P:     8     4    11  0.43  3.15  3.46  3.62  4.95  5.26  5.77  6.09 <font color=red> 6.49</font> <font color=red> 6.82</font> <font color=red> 6.69</font> <font color=blue> 7.55</font>
S:     8     3        0.43  3.15  3.46  3.62  4.95  5.26  5.77  6.09 <font color=blue> 6.49</font> <font color=red> 6.82</font> <font color=red> 6.69</font>  7.55
P:     8     3     8  0.43  3.15  3.46  3.62  4.95  5.26  5.77  6.09 <font color=blue> 6.49</font> <font color=red> 6.82</font> <font color=red> 6.69</font>  7.55
S:     8     0        0.43  3.15  3.46  3.62  4.95  5.26  5.77  6.09  6.49  6.82  6.69  7.55
S:     9     2        0.43  3.15  3.46  3.62  4.95  5.26  5.77  6.09  6.49 <font color=red> 6.82</font> <font color=red> 6.69</font>  7.55
S:    12     0        0.43  3.15  3.46  3.62  4.95  5.26  5.77  6.09  6.49  6.69  6.82  7.55
                      0.43  3.15  3.46  3.62  4.95  5.26  5.77  6.09  6.49  6.69  6.82  7.55
UNIX>
</pre></td></table></center><p>
