<p><center><table border=3 cellpadding=3><td>
<pre>
                 | UNIX> <font color=darkred><b>bin/selection_sort 8 1 13 yes yes</b></font>
Before the loop: | 4.91 9.10 6.96 9.22 4.24 5.93 1.32 4.50
i = 0            | <font style="background-color: #ffff80"><font style="background-color: #d0d0ff">1.32 </font>9.10 6.96 9.22 4.24 5.93 <font style="background-color: #d0d0ff">4.91 </font>4.50 </font>
i = 1            | 1.32 <font style="background-color: #ffff80"><font style="background-color: #d0d0ff">4.24 </font>6.96 9.22 <font style="background-color: #d0d0ff">9.10 </font>5.93 4.91 4.50 </font>
i = 2            | 1.32 4.24 <font style="background-color: #ffff80"><font style="background-color: #d0d0ff">4.50 </font>9.22 9.10 5.93 4.91 <font style="background-color: #d0d0ff">6.96 </font></font>
i = 3            | 1.32 4.24 4.50 <font style="background-color: #ffff80"><font style="background-color: #d0d0ff">4.91 </font>9.10 5.93 <font style="background-color: #d0d0ff">9.22 </font>6.96 </font>
i = 4            | 1.32 4.24 4.50 4.91 <font style="background-color: #ffff80"><font style="background-color: #d0d0ff">5.93 </font><font style="background-color: #d0d0ff">9.10 </font>9.22 6.96 </font>
i = 5            | 1.32 4.24 4.50 4.91 5.93 <font style="background-color: #ffff80"><font style="background-color: #d0d0ff">6.96 </font>9.22 <font style="background-color: #d0d0ff">9.10 </font></font>
i = 6            | 1.32 4.24 4.50 4.91 5.93 6.96 <font style="background-color: #d0d0FF">9.10 9.22 </font>
                 | UNIX> 
</pre></td></table></center><p>
