<title>CS302 Lecture notes -- NP Completeness</title>
<body bgcolor=ffffff>
<h1>CS302 Lecture notes -- NP Completeness</h1>
<UL>
<li> James S. Plank
<li> December 1, 2009.
<LI> Latest revision: <i>
Wed Nov 28 20:09:28 EST 2018
</i>
</UL>
</b></a>
<hr>

This is not a complete treatment of NP-Completeness.  Like the Halting Problem
lecture notes, they introduce you to a concept that you will see later in 
your CS careers and will provide you with fodder for endless conversations
around the family dinner table.
<p>
As always, you can spend quite a bit of time reading Wikipedia on the 
subject.  Their page is
in <a href=http://en.wikipedia.org/wiki/P_versus_NP_problem>here</a>.
This is not required reading, but (as of 2015) is a nice treatment of the topic.
<p>
P, NP, NP-Complete and NP-Hard are sets of problems, defined as follows:
<UL>
<LI> <b>P</b>: problems whose solution is polynomial time in the size of their inputs.
<LI> <b>NP</b>: problems whose solutions can be verified in polynomial time.
(NP stands for <i>non-deterministic polynomial time</i>).
<LI> <b>NP-Complete</b>: A collection of problems in NP whose solutions may or may not
polynomial time.  We don't know.  However, if we can prove that one of them may be solved
in polynomial time, then all of them can.
<LI> <b>NP-Hard</b>: A collection of problems that do not have to be in NP, 
whose solutions are at least as hard as the NP-Complete problems.  If a problem is in NP, and
it's NP hard, then it is also NP-Complete. 
</UL>
<p>

In this lecture, we are going to see what it takes to prove that problems belong
to these sets.  
Suppose you have a problem to solve, and you want to know its complexity class.
This takes two steps:
<OL>
<LI> <i>Prove that it is in NP</i>.  Typically the problem is couched as
a <b>yes</b> or <b>no</b> problem involving a data structure, such 
as ``does there exist a simple cycle through a
given directed graph that visits all the nodes?''  
To prove it is in NP, you need to show that 
a <b>yes</b> solution can be checked in polynomial time.  
In the above example, you can check to see if a given path through the graph
is indeed a simple cycle in linear time.  Therefore, the problem is in 
<b>NP</b>.  You don't have to prove anything about the <b>no</b> solutions,
and you don't have to prove anything about how you'd calculate a solution.
<p>
<LI> <i>Transform a known NP-Complete problem to this one in polynomial time</i>.  
Suppose the problem in question is <b>Q</b>,
and that <b>L</b> is a well-known NP-Complete problem like 
the <i>3-satisfiability</i> problem.  You need to show that if you have
any instance of problem <b>L</b>, you can transform it into an instance
of problem <b>Q</b> in polynomial time.  Thus, if you could solve problem
<b>Q</b> in polynomial time, you could solve problem <b>L</b> in polynomial
time.
</OL>

If  you can do both of these things, then you have proved that a problem is
NP-Complete.  If you can prove that either of these things cannot be done, then you
have proved that a problem is not NP-Complete.  Sometimes you can't come up
with good proofs, and you just don't know.  
<p>
The complexity classes P and NP-Hard may be put in terms of the above:
<p>
<UL>
<LI> <b>P</b>: If we can prove that the solution to a problem may be calculated
in polynomial time, then the problem is in P.  All of the algorithms that we
have studied in this class, with the exception of enumeration, are in <b>P</b>.
<p>
<LI> <b>NP-Hard</b>: These are problems that are at least as hard to solve as NP-Complete
problems.  If they are in NP, then they are NP-complete problems. 
We prove that a problem is NP-Hard by 
performing the transformation in step 2 of a known NP-Complete problem the problem
at hand.  That is how we demonstrate that they are "at least as hard to solve as NP-Complete
problems."
</UL>



<hr>
<h3>3-SAT - A Canonical NP-Complete Problem</h3>

3-SAT is a very simple NP-Complete problem.  You are given a boolean expression, 
which is a big AND (&and;) of <i>clauses</i>:
<center>
<p>
<i>E = C<sub>0</sub> &and; 
C<sub>1</sub> &and; ... &and;
C<sub>m-1</sub></i>
<p>
</center>
Each clause <i>C<sub>i</sub></i> is the OR (&or;) of three <i>literals</i>, where a literal is
either a variable <i>x<sub>i</sub></i> or the negation of a variable <i>&not; x<sub>i</sub></i>
(or sometimes the negation of <i>a</i> is denoted <i><span style="text-decoration:overline">a</span></i>).
Here is an example with three clauses and three variables.  To make it easier to read, I'm simply
calling the variables <i>a</i>, <i>b</i> and <i>c</i> .
<center>
<p>
<i>E = ( a &or; b &or; c ) 
&and;
( <span style="text-decoration:overline">a</span>  &or; 
  <span style="text-decoration:overline">b</span>  &or; 
  <span style="text-decoration:overline">c</span>  )
&and;
(                                        a         &or; 
  <span style="text-decoration:overline">b</span>  &or; 
  <span style="text-decoration:overline">c</span>  )
</i><p>
</center>
Given this definition, 3-SAT is simple -- is there an assignment of the variables so that <i>E</i>
is true?  In the above example, it's easy to find such an assignment.  For example, set <i>a</i>
and <i>c</i> to TRUE and <i>b</i> to FALSE (I'm coloring the true statements red -- you can 
see that there is always at least one TRUE in each clause).
<center>
<p>
<i>E = ( <font color=red>a</font> &or; b &or; <font color=red>c</font> ) 
&and;
( <span style="text-decoration:overline">a</span>  &or; 
 <font color=red> <span style="text-decoration:overline">b</span></font>  &or; 
  <span style="text-decoration:overline">c</span>  )
&and;
(                                        <font color=red>a</font>         &or; 
  <font color=red><span style="text-decoration:overline">b</span></font>  &or; 
  <span style="text-decoration:overline">c</span>  )
</i><p></center>
In general, 3-SAT can be a very difficult problem to solve.  Here's a harder example
with seven clauses and four variables.  
<center>
<p>
<i>E = ( a &or; b &or; c ) 
&and;
( <span style="text-decoration:overline">a</span>  &or; 
  <span style="text-decoration:overline">b</span>  &or; 
  <span style="text-decoration:overline">d</span>  )
&and;
(                                        a         &or; 
  <span style="text-decoration:overline">c</span>  &or; 
  <span style="text-decoration:overline">d</span>  )
&and;
( <span style="text-decoration:overline">b</span>  &or; 
  c &or; 
  d  )
&and;
( <span style="text-decoration:overline">a</span>  &or; 
  <span style="text-decoration:overline">b</span>  &or; 
  c  )
&and;
( b  &or; 
  <span style="text-deboration:overline">c</span>  &or; 
  d  )
&and;
( b  &or; 
  c  &or; 
  <span style="text-decoration:overline">d</span>  )
</i><p>
</center>
One correct assignment is setting <i>a</i> and <i>c</i> to FALSE,
and <i>b</i> and <i>d</i> to TRUE:
<center>
<p>
<i>E = ( a &or; <font color=red>b</font> &or; c ) 
&and;
( <font color=red><span style="text-decoration:overline">a</span></font>  &or; 
  <span style="text-decoration:overline">b</span>  &or; 
  <span style="text-decoration:overline">d</span>  )
&and;
(                                        a         &or; 
  <font color=red><span style="text-decoration:overline">c</span></font>  &or; 
  <span style="text-decoration:overline">d</span>  )
&and;
( <span style="text-decoration:overline">b</span>  &or; 
  c &or; 
  <font color=red>d</font>  )
&and;
( <font color=red><span style="text-decoration:overline">a</span></font>  &or; 
  <span style="text-decoration:overline">b</span>  &or; 
  c  )
&and;
( b  &or; 
  <span style="text-deboration:overline">c</span>  &or; 
  <font color=red>d</font>  )
&and;
( <font color=red>b</font>  &or; 
  c  &or; 
  <span style="text-decoration:overline">d</span>  )
</i><p>
</center>
From our lecture notes on enumeration, we can 
answer whether an instance of 3-SAT is true or false with a simple power
set enumeration.  That enumerates all possible true/false settings of the literals,
and for each setting, you can test to see whether the expression is true.
Of course, if there are <i>n</i> literals, the power set enumeration will
enumerate <i>2<sup>n</sup></i> settings, so this is definitely not polynomial
time.  
<p>
Is there a polynomial time solution?  No one knows.
<p>
It is an easy matter to prove that 3-SAT is in NP.  How many different clauses can there
be?  (4/3) * n * (n-1) * (n-2) --  we'll go over that in class.  That's a polynomial of
<i>n</i>.  If we have a solution, we can test its validity by simply setting the variables and
seeing if <i>E</i> is true.  That test is polynomial time, so 3-SAT is in NP.
<p>
As for proving that 3-SAT is NP-Complete, that is well beyond the scope of this class.  However,
3-SAT is a very popular problem for proving that other problems are NP-Complete.
<hr>
<h3>How would we do that?</h3>

Suppose I have a problem, like 
<a href="http://en.wikipedia.org/wiki/Independent_set_(graph_theory)"><b>The Independent Set Decision Problem (ISDP)</b></a>: Given a graph  <i>G</i>
and a number <i>k</i>, can we find a set of <i>k</i> vertices in <i>G</i> such that there are
no edges between any two of the vertices.  Here's an example:

<p><center><table border=3><td><a href=img/ISDP-Example.jpg><img src=img/ISDP-Example.jpg width=200></a></td></table></center><p>

The yellow nodes are an independent set of size 5.  There is no independent set of size 6.
<p>

Here's how we use 3-SAT to prove that ISDP is NP-Complete.
<p>
First, prove it's in NP: If you give me a set of <i>k</i> vertices, I can easily check to verify
that there are no edges between two nodes in <i>k</i>.  That will be <i>O(|E|)</i> in the 
worst case, which is most definitely polynomial in <i>|V|</i>.
<p>
Next, I need to figure out how to take an instance of 3-SAT, and convert it into an instance
of ISDP, so that if you can solve the ISDP instance in polynomial time, then you can solve the
instance of 3-SAT in polynomial time.  Here's one way:
<UL>
<LI> Turn each clause into three nodes, and label the nodes with their literals (including
the not).  Add an edge between each of these nodes.
<LI> For every pair of nodes with the same, but negated, literals, add an edge between that
pair of nodes.
<LI> Any independent set of size <i>k=n</i> will correspond to an assignment of the literals for
which the 3-SAT expression is true.
</UL>

Here's the simple three-clause 3-SAT problem above, converted to a graph, with an example
3-node independent set colored magenta.  You'll note that the set corresponds to a setting of
the variables that makes the 3-SAT equation true:

<p><center><table border=3><td><img src=img/Easy.jpg></td></table></center><p>

Below, I also convert the more complicated 7-node expression to a graph for the ISDP
problem.
I have the clauses clumped together going clockwise around the graph, starting at roughly 
1:00.  I also have colored inter-clause edges according to the literals that they connect:

<p><center><table border=3><td><img src=img/ISDP.jpg></td></table></center><p>

I've colored the nodes in the Independent Set gray.  You should be able to verify that:

<UL>
<LI> The set is indeed independent.
<LI> The assignment of literals makes the expression true.
</UL>

This works because you can only have one node per clause in the Independent Set.  Moreover,
if you have <i>a</i> in the set, then you cannot have 
  <i><span style="text-decoration:overline">a</span> </i> and vice versa.
<p>
Finally, think about the size of the graph.  It will have <i>3m</i> nodes, and a maximum 
of something like <i>3m + 3(m/2)(m/2-1)/2</i> edges, which is clearly polynomial in <i>m</i>.
Thus, if I can solve ISDP in polynomial time, then I can solve 3-SAT in polynomial time.
Neat, no?

<hr>
<h3>Who Cares?</h3>

NP-Complete problems usually have easy-to-write exponential solutions.  However, we cannot prove
that they do not have polynomial time solutions.  This is embodied in the equation:
<p>
<center>
<i>P = NP?</i>
</center>
<p>
It is a famous open question in theoretical computer science.  Does its solution have practical
worth?  Maybe -- a lot of these problems pop up very naturally (Spellseeker from Lab B
comes to mind...), and if we could solve them in polynomial time rather than
exponential, then that would be something!


<hr>
<h3>Well-Known NP-Complete Problems</h3>


<UL>
<LI> <b>Boolean Satisfiability</b>: This is the general form of 3-SAT, and may be
reduced to 3-SAT.
<p>
<LI> <b>The Clique Problem</b>: Given a graph <i>G</i> and a number <i>k</i>, does the
graph contain a clique of size <i>k</i>.  A clique is a set of nodes where there is an
edge between every pair of nodes.
<p>
<LI> <b>Hamiltonian Path</b>: Given a graph <i>G</i>, does there exist a simple path
that contains all of the nodes in <i>G</i>.
<p>
<LI> <b>Travelling Salesman</b>: Given a graph <i>G</i> and a path length <i>L</i>,
is there a simple cycle whose path length is less than or equal to <i>L</i>? 
<p>
<LI> <b>Subgraph Isomorphism</b>: Given two graphs <i>G</i> and <i>H</i>, does <i>G</i>
     contain a subgraph that is isomorphic to <i>H</i>?  Isomorphism means that there
     is a 1-to-1 correspondance between the nodes and edges of the two graphs.
<p>
<LI> <b>Knapsack Problem</b>: Given a set of items, each of which has a weight and a
value, and given a total weight <i>W</i> and a total value <i>V</i>, can you select
items from the set whose weight is less than or equal to <i>W</i> and whose total
value is greater than or equal to <i>V</i>.
<p>
The nice thing about this problem is that it allows for polynomial time approximations,
and if the weights and values are integers, then it becomes easier. A practical variant
of this is the "DraftKings" problem (golfing version):  Given a collection of 
golfers, each of which has a salary and a score, which "team" of golfers, whose salary
is bounded by a salary cap has a maximum score?  You'll note that this is really not
couched as a proper NP complete problem.  However, you can turn it into one if you bound
the score, and then say "is there a team that achieves at least the bounded score." 
You can then do binary search on the score, and the NP-complete decision problem will
solve the maximization problem. 
<p>
Fortunately, for the problem sizes that you encounter in DraftKings golf (your team
has to be 6 golfers, and the field is 155 golfers or less), a nice dynamic program
solves the DraftKings problem quickly.  What's the recursion?
<p>
<p><center><table border=3 cellpadding=3><td><pre>
int max_score(int index, int golfers_left, int salary_remaining);
</pre></td></table></center><p>

In this, <i>index</i> is an index into a vector of golfers, 
<i>golfers_left</i> is the number of golfers left to fill in your team, and
<i>salary_remaining</i> is how much salary you can devote to the rest of your
team.
</UL>



