<center>
<table border=3>
<tr>
<td align=left><i>S</i></td>
<td align=center><i>1</i></td>
<td align=center><i>2</i></td>
<td align=center><i>3</i></td>
<td align=center><i>4</i></td>
<td align=center><i>5</i></td>
<td align=center><i>6</i></td>
<td align=center><i>7</i></td>
<td align=center><i>8</i></td>
<td align=center><i>9</i></td>
<td align=center><i>10</i></td>
<td align=center><i>11</i></td>
<td align=center><i>12</i></td>
<td align=center><i>13</i></td>
<td align=center><i>14</i></td>
<td align=center><i>15</i></td>
<td align=center><i>16</i></td>
<td align=center><i>17</i></td>
<td align=center><i>18</i></td></tr>
<tr>
<td align=left><i>Answer</i></td>
<td align=center><i>1</i></td>
<td align=center><i>2</i></td>
<td align=center><i>3</i></td>
<td align=center><i>4</i></td>
<td align=center><i>1</i></td>
<td align=center><i>1</i></td>
<td align=center><i>2</i></td>
<td align=center><i>3</i></td>
<td align=center><i>4</i></td>
<td align=center><i>1</i></td>
<td align=center><i>2</i></td>
<td align=center><i>2</i></td>
<td align=center><i>3</i></td>
<td align=center><i>4</i></td>
<td align=center><i>2</i></td>
<td align=center><i>2</i></td>
<td align=center><i>3</i></td>
<td align=center><i>3</i></td></tr>
<tr>
<td align=left><i>Coins</i></td>
<td align=center><i>1</i></td>
<td align=center><i>1,1</i></td>
<td align=center><i>1,1,1</i></td>
<td align=center><i>1,1,1,1</i></td>
<td align=center><i>5</i></td>
<td align=center><i>6</i></td>
<td align=center><i>6,1</i></td>
<td align=center><i>6,1,1</i></td>
<td align=center><i>6,1,1,1</i></td>
<td align=center><i>10</i></td>
<td align=center><i>5,6</i></td>
<td align=center><i>6,6</i></td>
<td align=center><i>6,6,1</i></td>
<td align=center><i>6,6,1,1</i></td>
<td align=center><i>10,5</i></td>
<td align=center><i>10,6</i></td>
<td align=center><i>10,6,1</i></td>
<td align=center><i>6,6,6</i></td></tr></table></center>
<p>
