<title>CS302 Lecture Notes</title>

<h2>CS302 Lecture Notes - Dynamic Programming<br>Example program #4: ConvertibleStrings</h2>
<h3>James S. Plank</h3>
Original Notes: Thu Nov 14 21:59:54 EST 2013.<br>
Latest revision: Mon Nov  9 10:27:28 EST 2020
<p>This is from Topcoder SRM 591, Division 2, 500-point problem.
<br><a href=http://community.topcoder.com/stat?c=problem_statement&pm=12754&rd=15703>Problem Statement</a>.
<hr>
In case Topcoder's servers are not working, here is a summary of the problem:

<UL>
<LI> You are given two strings with upper-case characters from 'A' to 'I'.
<LI> Call these strings, <b>A</b> and <b>B</b>.
<LI> They are the same length which is &le; 50.
<LI> You are going to choose some number of indices, and remove the characters
     at these indices in both <b>A</b> and <b>B</b>.
<LI> When you are done, you should be able to convert <b>A</b> to <b>B</b> with
     a simple substitution cipher -- in other words, for each character <i>c</i> from 'A' to
     'I', there is a substitution <i>S[c]</i>, such that <i>S[A[i]]</i> always equals <i>Y[i]</i>.
<LI> Return the minimum number of indices that you have to delete to achieve this.
</UL>

<hr>
<h3>Examples</h3>

<pre>
0: A: "DD"
   B: "FF"
   Answer: 0 -- If you change D's to F's, you're done.  No deletion is required.
    	
1: A: "AAAA"
   B: "ABCD"
   Answer: 3 -- Since you can only map A's to one character.  Whichever it is -- A, B, C or D,
                you'll have to delete the other indices from both strings.
    	
2: A: "AAIAIA"
   B: "BCDBEE"
   Answer: Delete indices 1, 2 and 5, and A becomes "AAI" and B becomes "BBE".  That works.

3: A: "ABACDCECDCDAAABBFBEHBDFDDHHD"
   B: "GBGCDCECDCHAAIBBFHEBBDFHHHHE"
   Answer: 9 -- We'll have to program this one to get it right.
</pre>

<hr>
<h3>Approach with Dynamic Programming</h3>

This one screams dynamic programming.  As always, the hard part is to
spot the recursion.  Here's how I thought about it.  You have your
two strings, A and B.  Consider the first character of each.  Either
you are going to remove that character from each string, or you are going to keep
the character, which means that you'll match the character in A with the character in B.
In either case, you can solve a smaller sub-problem, and use that solution to solve
your problem.
<p>
Let's think about it in terms of a concrete example.  I work Example 2 to completion
below, but I'm going to start with a harder one here to motivate the recursion.
I've put this in the main as example 4.
<center><p>
A = "DEFDEDFFDEED",  B = "WYZYXYWYZYXY"
</center><p>

Now, consider the first character of each string -- this is the character 'D' for A,
and 'W' for B.  Our solution is going to be one of the following:

<UL>
<LI> Either remove those first characters from both strings, and solve the subproblem
of A = "EFDEDFFDEED",  B = "YZYXYWYZYXY".   The total number of character removals will
be the solution to the subproblem, plus one for removing the initial 'D' and 'W'.
<p>
<LI> Or, we match 'D' to 'W'.  This will have implications for the rest of the two strings.
Whenever we see an 'D' in A or a 'W' in B, we need to consider the fact that we have matched
'D' to 'W'.    Let's take a look at the two strings, and the D's and W's:
<font size=+2><pre>
        " D E F D E D F F D E E D " 
          |     |   | |   |     | 
          |     |   | |   |     | 
          M     X   X X   X     X 
          |     |   | |   |     | 
          |     |   | |   |     | 
        " W Y Z Y X Y W Y Z Y X Y " 
</pre></font>
There are six indices <i>i</i> where either A[i] equals 'D' or B[i] equals W.  In all but the
first, the D's and W's don't match.  That means that if we match 'D' and 'W', we are going to
have to remove those five characters from both strings, incurring a penalty of five.
<p>
Now, to make the recursive call, we should remove all six occurrences, basically getting rid of
all of the D's and W's.  We will make a recursive call with A = "EFEFEE" and B = "YZXYYX", and
add five to the answer.  
</UL>

Whichever of these approaches yields the smaller number will be the answer.
<hr>
Let's run through a second example, this time all the way to completion.  This is 
example 2 from the Topcoder problem:

<center><p>
A = "AAIAIA".  B = "BCDBEE"
</center><p>
Suppose we remove the first character from A and B.  
Then the number of overall removals is going to be one plus the minimum number
of removals when you set A to "AIAIA" and B to "CDBEE".    
<p>
Now suppose instead that we don't remove the first character.  Then
'A' in A will match with 'B' in B.  So, we run through both strings,
and whenever there is an 'A' in A, or a 'B' in B, we'll have to decide
whether this will cause us to remove the characters, or whether they
match appropriately.  Let's draw the same picture as above:
<font size=+2><pre>
        " A A I A I A " 
          | |   |   | 
          | |   |   | 
          M X   M   X 
          | |   |   | 
          | |   |   | 
        " B C D B E E " 
</pre></font>
As you can see, two of them match, and two of them must be removed.  For the recursive
call, we'll remove all of those indices, leaving us with A = "II" and B = "DE".  We'll
add two to the recursive call, because of the two non-matching characters above.
<p>
So, to summarize, we are going to do two things with the first characters of A
and B:
<OL>
<LI> Remove them from both strings and solve the subproblem.  The answer is
the solution to the sub-problem, plus one.
<LI> Match them.  This may cause us to remove other non-matching characters
in the remainder of the string.  Let's call the number of such removals <i>R</i>.  
Create the sub-problem by deleting all instances
of the first character in A (and their corresponding characters in B), 
and all instances of the first character in B (and their corresponding characters in A).
The answer is the solution to the sub-problem, plus <i>R</i>.
</OL>

Whichever of these solutions is the minimum is our answer.

<p>
There's your recursion.  Now, this is a dynamic program, so you have to memoize.  
I had my cache be a map that I key on a concatenation 
of A and B.  With the example above, the first key is "AAIAIABCDBEE".
<p>
Hack it up.  This one is a really nice practice DP problem.
<p>
My solution is <a href=../src/ConvertibleStrings.cpp>here</a> (there is a <b>main()</b> in that
program so that you can run it from the command line).
<hr>
If you want to walk through this in detail, the picture below shows the call graph
of example 2.  Each node makes two recursive calls, which are represented by edges to
other nodes.  When the edges leave the bottom of a node, it's because we are removing the 
first characters and recursively calling the procdure on the remaining characters.  For
that reason, the edge weights are always one.  
<p>
When the edge leaves the right of a node, it's because we are matching the first characters,
and then we have to remove any non-matching characters in the remaining strings.  The edge
weights are variable now.  For the starting node, the weight of the edge to its right has
a weight of two, because we have to change two characters when we match 'A' to 'B'.
For the node "IA EE", the edge to the right goes to the empty string with a weight of one, because
when you assign 'I' to 'E', you have to remove the 'A'.

<p><center><table border=3><td><a href=../img/CS-Ex2.jpg><img src=../img/CS-Ex2.jpg width=500></a></td></table></center><p>
<hr>
<h3>"But Dr. Plank, is this Dynamic Programming, Topological Sort, or Dijkstra's Algorithm?"</h3>

Good question.  You'll note that the graph above is a directed acyclic graph, and you are looking
for the shortest path from the starting node to the node with the null string.  

So you can solve it in three different ways:
<UL>
<LI> <b>As a shortest path problem</b>.  In fact, I'm guessing that this is truly the most efficient
way to solve the problem, because what you do in this instance is create the graph as you
process Dijkstra's algorithm.   You start just with the starting node ("AAIAIA BCDBEE") and 
put it onto the Dijkstra map.  Then you process the map.  When you process a node, you process
both edges, creating the nodes if necessary, and putting them onto the map.  In this way,
you don't actually have to create all of the nodes, because Dijkstra's algorithm terminates
when it finds the minimum path.  
<p>
<LI> <b>As a topological sort</b>.  Each time you remove a node, 
you know the node's minimum distance
to the starting node.  When you remove the last node, you have your answer.
You know, this is really the "step 3" solution to the problem -- removing the recursion.
<p>
<LI> <b>As a dynamic program</b>.  If you think about it, the dynamic program is like a DFS on an 
acyclic graph. That's pretty cool.
</UL>

<hr>
<h3>A final note on using enumeration to solve this problem</h3>

Given the constraints, enumeration is a possible way to solve this problem.  Think to yourself -- what
kind of enumeration will work?

<UL>
<LI> Div/mod?  No, we're not enumerating fixed-digit numbers in a base or fixed-size words from an alphabet.
<p>
<LI> Power set?  Always a thought.  You could enumerate subsets of <i>A</i>, and for each subset, check to see
if the corresponding subset of <i>B</i> will work, and if so, the answer is (|A|-|subset|).  Unfortunately,
though, <i>A</i> can be up to 50 characters, to this is too expensive (2<sup>50</sup>).
<p>
<LI> Permutations?  Hmmm -- the substitution cipher is a permutation of the characters from <tt>'A'</tt>
to <tt>'I'</tt>.  So, we could generate all of those permutations, and for each permutation, determine
how many characters you'd have to delete so that the remaining characters are legal according to the cipher.
How many permutations? <i>factorial(9)</i>, which is under 1,000,000.  It would work!  My guess is that this
is why Topcoder kept the number of legal characters so low.
</UL>


