<h3>Answers to Network Flow Clicker Questions, Set 2</h3>

Let's do these without drawing the graph.

<OL>
<LI> Edmonds-Karp path.  Well, there's no edge from s to t, so
the path will have to have at least two edges.  There is a path from s to n00 and
then from n00 to t, so that's one.  Since there's no edge from s to any other node,
this is definitely the path with the fewest edges.  The answer is <b>"s-n00-t"</b>.
<p>
<LI> Edmonds-Karp flow: The minimum of 3638 and 2256: 2256.
<p>
<LI> Greedy DFS path.  You have to go from s to n00.  There are three edges out of 
n00, and the one with the maximum flow is the one to n02, so that's the next node.
There is only one edge from n02, which is to t.  So the answer is <b>"s-n00-n02-t"</b>.
<p>
<LI> Greedy DFS flow: The minimum capacity edge is the last one: 1655.
<p>
<LI> Modified Dijkstra path: For this one, you can do Dijkstra, or you can just use
logic.  I'm going to go with the latter approach.  The path has to start with the
edge from s to n00.  Moreover, if you eyeball the graph, you'll see that there's
no edge to n03, so you don't have to think about that edge.  Additionally, the only
edge going out from n02 is one whose flow is 1655.  You know from question 2 above that
there's a path with better flow than that, so you can eliminate n02.  
<p>
Thus, there are only two paths to consider: <b>"s-n00-t"</b> and <b>"s-n00-n01-t"</b>.
The second one has a larger flow (4278), so that's the answer: <b>"s-n00-n01-t"</b>.
<p>
<LI> Modified Dijkstra flow: From above: 4278.
</OL>

I'll draw the graph after a bunch of lines, in case you care to see it.
<hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> 
<hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> 
<hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> 
<hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> 
<hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> 
<hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> <hr> 
<p>

<p><center><table border=3 cellpadding=3><td><pre>
                          4123
             +------------------------------ n03
             |                                |
             v            9929                |
            n01 -----------------------+      |
             ^  \ 1219                 |      | 702
        4278 |   \                     |      |
             |    -> n02 ----------\   |      |
             |   /            1655  \  |      |
    3638     |  / 4672               \ v      |
s ---------> n00 --------------------> t <----+
                        2256
</pre></td></table></center><p>
