<p><center><table border=3 cellpadding=3><td><pre>
  s01 = d-&gt;Union(0, 1); 
  s23 = d-&gt;Union(2, 3); 
  s45 = d-&gt;Union(4, 5); 
  d-&gt;Print();

  print d-&gt;Find(0) and d-&gt;Find(1));

  s0123 = d-&gt;Union(s01, s23); 
  s456 = d-&gt;Union(s45, 6); 
  s4567 = d-&gt;Union(s456, 7); 
  s45678 = d-&gt;Union(s4567, 8); 

  print d-&gt;Find(1);
  print d-&gt;Find(2);
  print d-&gt;Find(4);
  print d-&gt;Find(7);
  d-&gt;Print();

  s012345678 = d-&gt;Union(s0123, s45678); 
  d-&gt;Print();

  print d-&gt;Find(3);
  print d-&gt;Find(5);
  print d-&gt;Find(7);
  d-&gt;Print();

  print d-&gt;Find(0);
  d-&gt;Print();
</pre></td></table></center><p>
