<p><center><table border=3 cellpadding=3><td><pre>
int DisjointSetByRankWPC::Find(int e)
{
  int p, c;   <font color=blue>// P is the parent, c is the child.</font>

  <font color=blue>/* Find the root of the tree, but along the way, set
     the parents' links to the children. */</font>

  c = -1;
  while (links[e] != -1) {
    p = links[e];
    links[e] = c;
    c = e;
    e = p;
  }

  <font color=blue>/* Now, travel back to the original element, setting
     every link to the root of the tree. */</font>

  p = e;
  e = c;
  while (e != -1) {
    c = links[e];
    links[e] = p;
    e = c;
  }
  return p;
}
</pre></td></table></center><p>
