<p><center><table border=3 cellpadding=3><td><pre>
int Disjoint::Find(int element)
{
  if (links[element] == -1) return element;
  links[element] = Find(links[element]);
  return links[element];
}
</pre></td></table></center><p>
