<title>Answers to Clicker Questions for Page Numbers</title>
<h3>Answers to Clicker Questions for Page Numbers</h3>

To summarize the problem -- you are given the input <i>N</i>, and you want to return a vector <b>rv</b> of 9 numbers.
<b>rv[i]</b> contains the number of times the digit <i>i</i> appears in all of the page numbers from 1 to <i>N</i>.
<p>
In my description, we use four temporary variables, all of which are integers, and not ASCII values of charaters.

<UL>
<LI> <b>first_digit</b> is the first digit of <i>N</i>.
<LI> <b>digits</b> is the number of digits of <i>N</i>.
<LI> <b>middle_number</b> is the number with <b>digits</b> digits, where the first is equal to <b>first_digit</b>,
and the rest are zero.
<LI> <b>remainder</b> is <i>N</i> minus <i>middle_number</i>.
</UL>

We're going to work through a problem when <i>N</i> equals 40,028:

<hr>
<OL>
<LI> What is <b>first_digit</b>?  <i>Answer: 4</i>.
<hr>
<LI> What is <b>digits</b>?  <i>Answer: 5</i>.
<hr>
<LI> What is <b>middle_number</b>?  <i>Answer: 40,000</i>.
<hr>
<LI> What is <b>remainder</b>?  <i>Answer: 28</i>.
<hr>
<LI> We know that:
<pre>
  getCounts(middle_number-1)</b> = { 14889, 26000, 26000, 26000, 16000, 16000, 16000, 16000, 16000, 16000 }
  getCounts(remainder)</b>       = {     2,    13,    12,     3,     3,     3,     3,     3,     3,     2 }
</pre>

In your final answer, what is <b>rv[0]</b>?
<p>
<i>Answer:</i> You are going to do the following:
<UL>
<LI> Set your return vector to <b>getCounts(middle_number-1)</b>.  We only need to keep track of entries 0, 3 and 4:
<pre>
  { 14889,     X,     X, 26000, 16000,     X,     X,     X,     X,     X }
</pre>
<p>
<LI> Add in the values for <b>middle_number</b>.  That will be one 4 and four zeros.  At this point, 
     the return value is:
<pre>
  { 14893,     X,     X, 26000, 16001,     X,     X,     X,     X,     X }
</pre>
<p>
<LI> Add in 28 4's.  These are for the first digits in the values 40,001 through 40,028.
     The return value is:
<pre>
  { 14893,     X,     X, 26000, 16029,     X,     X,     X,     X,     X }
</pre>
<p>
<LI> Add in <b>getCounts(remainder)</b>:
<pre>
  { 14895,     X,     X, 26003, 16032,     X,     X,     X,     X,     X }
</pre>
<p>
<LI> Finally, we add up the values in <b>getCounts(remainder)</b>.  That sum is 47.  The total number of digits,
     including leading zeros, should be 28*4 = 112.  That means there are 112-47 = 65 zeros unaccounted for.
     The final return value is:
<pre>
  { 14960,     X,     X, 26003, 16032,     X,     X,     X,     X,     X }
</pre>
<p>
</UL>
<i>So the answer to this problem is <b>rv[0]</b> is 14,960.</i>
<hr>
<LI> Continuing the problem, in your final answer, what is <b>rv[3]</b>? <i>26,003</i>.
<hr>
<LI> Continuing the problem, in your final answer, what is <b>rv[4]</b>?  <i>16,032</i>.
</OL>

We can confirm this by running the program in the lecture notes:

<pre>
UNIX> <font color=darkred><b>bin/page-numbers-5 40028 | tail -n 1</b></font>
Answer: 14960 26013 26012 26003 16032 16003 16003 16003 16003 16002
UNIX> <font color=darkred><b></b></font>
</pre>

