<title>Clicker Questions for Page Numbers</title>
<h3>Clicker Questions for Page Numbers</h3>

To summarize the problem -- you are given the input <i>N</i>, and you want to return a vector <b>rv</b> of 9 numbers.
<b>rv[i]</b> contains the number of times the digit <i>i</i> appears in all of the page numbers from 1 to <i>N</i>.
<p>
In my description, we use four temporary variables, all of which are integers, and not ASCII values of charaters.

<UL>
<LI> <b>first_digit</b> is the first digit of <i>N</i>.
<LI> <b>digits</b> is the number of digits of <i>N</i>.
<LI> <b>middle_number</b> is the number with <b>digits</b> digits, where the first is equal to <b>first_digit</b>,
and the rest are zero.
<LI> <b>remainder</b> is <i>N</i> minus <i>middle_number</i>.
</UL>

We're going to work through a problem when <i>N</i> equals 40,028:

<hr>
<OL>
<LI> What is <b>first_digit</b>?
<hr>
<LI> What is <b>digits</b>?
<hr>
<LI> What is <b>midle_number</b>?
<hr>
<LI> What is <b>remainder</b>?
<hr>
<LI> We know that:
<pre>
  getCounts(middle_number-1)</b> = { 14889, 26000, 26000, 26000, 16000, 16000, 16000, 16000, 16000, 16000 }
  getCounts(remainder)</b>       = {     2,    13,    12,     3,     3,     3,     3,     3,     3,     2 }
</pre>

In your final answer, what is <b>rv[0]</b>?  <i>Hint: When you're keeping track of your answer, you only need to
worry about <b>rv[0]</b>, <b>rv[3]</b> and <b>rv[4]</b>.  You don't need to keep track of the others.</i>
<hr>
<LI> Continuing the problem, in your final answer, what is <b>rv[3]</b>?
<hr>
<LI> Continuing the problem, in your final answer, what is <b>rv[4]</b>?
</OL>
