<p><center><table border=3 cellpadding=10>
<td align=center valign=top><b>G1:</b><hr><IMG src=../img/g1.jpg height=150></td>
<td valign=top>
<p><center><table border=3 cellpadding=3>
<td align=center><b>Adjacency Matrix for G1</b>
<pre>
     0  1  2  3  4  5  6  7  8  9
    -- -- -- -- -- -- -- -- -- --
 0 | 0  0  0  0  0  0  0  0  0  0
 1 | 0  0  0  1  0  0  0  0  0  0
 2 | 0  0  0  0  0  0  0  0  0  0
 3 | 0  1  0  0  0  1  0  0  0  0
 4 | 0  0  0  0  0  0  1  1  0  1
 5 | 0  0  0  1  0  0  0  0  0  0
 6 | 0  0  0  0  1  0  0  0  1  0
 7 | 0  0  0  0  1  0  0  0  0  0
 8 | 0  0  0  0  0  0  1  0  0  0
 9 | 0  0  0  0  1  0  0  0  0  0
</pre></td></table></center><p>
</td></table>

