
<p><center><table border=3 cellpadding=10>
<td align=center valig=top><b>G1:</b><hr><IMG src=../img/g1.jpg></td>

<td valign=top>
<font size=+2>
Mathematical Representation:
<p>
<UL>
<LI> <i>G = { V, E }</i>
<LI> <i>V = { 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 }</i>
<LI> <i>E = { (1,3), (3,5), (4,6), (4,7), (4,9), (6,8) }</i>
</UL>
<p>
<UL>
<LI> <i>or: V = { i | 0 &le; i &lt; 10}</i>
</td></table>
