<p><center><table border=3 cellpadding=10>
<td align=center valign=top><b>G1:</b><hr><IMG src=../img/g1.jpg height=150></td>
<td valign=top>
<p><center><table border=3 cellpadding=3>
<tr><td align=center><b>Node</b></td>
    <td align=center><b>Adjacency list</b></td>
</tr>
<tr> <td align=center>0</td>
     <td align=center>{}</td>
</tr>
<tr> <td align=center>1</td>
     <td align=center>{ 3 }</td>
</tr>
<tr> <td align=center>2</td>
     <td align=center>{}</td>
</tr>
<tr> <td align=center>3</td>
     <td align=center>{ 1, 5 }</td>
</tr>
<tr> <td align=center>4</td>
     <td align=center>{ 6, 7, 9 }</td>
</tr>
<tr> <td align=center>5</td>
     <td align=center>{ 3 }</td>
</tr>
<tr> <td align=center>6</td>
     <td align=center>{ 4, 8 }</td>
</tr>
<tr> <td align=center>7</td>
     <td align=center>{ 4 }</td>
</tr>
<tr> <td align=center>8</td>
     <td align=center>{ 6 }</td>
</tr>
<tr> <td align=center>9</td>
     <td align=center>{ 4 }</td>
</tr>
</table></center><p>
</table>
