<table border=3><td valign=top>
<img src=../img/g1.jpg></td>
<td valign=top>
<p><center><table border=3 cellpadding=3><td><pre>
class Node {
  public:
    int num;
    vector &lt;Node *&gt; adj;
};
</pre></td></table></center><p>
</td>
<td valign=top>
<a href=../img/AdjList.jpg><table border=3><td><img src=../img/AdjList.jpg width=500></td></table></a></center><p>
</td></table>
