
<p><center><table border=3 cellpadding=10>
<td align=center valig=top><IMG src=../img/PQ.jpg></td>

<td valign=top>

<UL>
<LI> <i>G = { V, E }</i>
<LI> <i>V = { i | 0 &leq; i < n }</i>
<LI> <i>E = { (u,v) | u,v &isin; V </i>and<i> v = 2u+1 </i>or<i> v = 2u+2 }</i>
<LI> For all <i>u &isin; V</i>, there is a numeric value <i>val(u)</i>.
<LI> If <i>(u,v) &isin; E</i>, then <i>val(u) &le; val(v)</i>.
</UL>
</td></table>
