<title>CS302 Lecture Notes</title>
<h2>Sprintf, Sscanf, C strings</h2>
<UL>
<LI> James S. Plank
<LI> Directory: <b>/home/plank/cs302/Notes/Sprintf</b>
<LI> August, 2015
<LI> Latest revision: 
Wed Aug 23 15:23:35 EDT 2023
</UL>
<hr>

<h3>Topcoder Practice Problems</h3>

<UL>
<LI> <a href=http://web.eecs.utk.edu/~jplank/topcoder-writeups/2016/EllysTimeMachine/index.html>EllysTimeMachine, the 250-point problem from TCO 2016, Round 1A</a>.  You can do this one extremely quickly
if you use <b>sscanf()</b> and <b>sprintf()</b>.
</UL>

<hr>
<h3>Into the sewers</h3>

This lecture drags you through some pretty detailed information about C++ and C-style
strings.  I urge you to walk through these lecture notes pretty slowly, and run the code
yourself on your own machine.  I know you're going to glaze over pretty quickly, thinking
something like the following:
<p>
<i>"I'm never going to use this stuff.  I can use <b>cin</b> and <b>cout</b> and stringstreams,
so why would I want to bother with pointers and arrays, ampersands and null characters?
Plank's just old and doesn't know how to do modern programming."</i>
<p>

Now that we've acknowledged what you're thinking, I want you to
resist the temptation to skip this stuff and instead work through it.  Yes, I am old.  
Trust me -- <b>sprintf()</b> and 
<b>sscanf()</b> are really nice alernatives to stringstreams.  Plus, understanding 
computer memory is one of the most important keys to being a good programmer.  So
buckle up, and spend an hour or two with these lecture notes.

<hr>
<h3>Introduction - C Style Strings</h3>

<b>Sprintf()</b> and <b>sscanf()</b> are string conversion procedures from the C Stdio Library.
The functionality that you get with <b>sprintf()</b> and <b>sscanf()</b> is handled in C++
with stringstreams.  However, I find <b>sprintf()</b> and <b>sscanf()</b> to be easier to use,
which is why I want you to learn them.
<p>
Both of them work with "C style" strings.  These are arrays of bytes (of type <b>char</b>).
The convention with C-style strings is that the array contains printable characters, terminated
with the null character (which you specify as '\0' -- Its actual value is zero).
Note, I say that this is a "convention."  That's because it is up to anyone using and manipulating
C-style strings to make sure that the array of bytes is in the proper format -- it is not
automatically handled for you like strings are in C++.
<p>
<table border=3 cellpadding=5><td>
<i>Slight digression:  I assume that you've had this information before, but a little review
never hurts -- printable characters
in C and C++ are simply bytes, which are integers between -128 and 127.  The data type is <b>char</b>.
You can print them as integers by using <b>printf("%d", ...)</b>.  When you print them as
characters, you use <b>printf("%c", ...)</b>.  There is a mapping of integers to characters
called "ASCII."  You don't need to care what this mapping is, except you should know that:
<UL>
<LI> Characters '0' through '9' are contiguous integers, and are smaller than 'A'-'Z' and 'a'-'z'.
<LI> Characters 'A' through 'Z' are contiguous integers, and are smaller than 'a'-'z'.
<LI> Characters 'a' through 'z' are contiguous integers.
</UL>
When you print a string in C or C++, you are printing an array of bytes using the ASCII mapping.
With <b>printf("%s", s)</b> in particular, you are passing a pointer to bytes, and <b>printf()</b>
prints the character associated with each byte in succession, until it reaches the null 
character, specified as <tt>'\0'</tt>, whose integer value is zero.</i></td></table>

<p>
When you access a C-style string, you use a pointer to its first character.  This  pointer
will be of type "<b>char *</b>."
Alternatively, you can use an array of characters (an array, not a C++ vector) 
that you allocate yourself,
such as, for example "<b>char buf[10]</b>," which is an array of 10 characters.  
Let's look at an example, in 
<b><a href=src/c_str.cpp>src/c_str.cpp</a></b>:


<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Line  1 */</font>    #include &lt;string&gt;
<font color=blue>/* Line  2 */</font>    #include &lt;cstdio&gt;
<font color=blue>/* Line  3 */</font>    #include &lt;cstdlib&gt;
<font color=blue>/* Line  4 */</font>    #include &lt;iostream&gt;
<font color=blue>/* Line  5 */</font>    using namespace std;
<font color=blue>/* Line  6 */</font>    
<font color=blue>/* Line  7 */</font>    int main()
<font color=blue>/* Line  8 */</font>    {
<font color=blue>/* Line  9 */</font>      char buf[10];
<font color=blue>/* Line 10 */</font>      char *str;
<font color=blue>/* Line 11 */</font>      int i;
<font color=blue>/* Line 12 */</font>      string cpps;
<font color=blue>/* Line 13 */</font>    
<font color=blue>/* Line 14 */</font>      str = buf;
<font color=blue>/* Line 15 */</font>    
<font color=blue>/* Line 16 */</font>      for (i = 0; i &lt; 6; i++) buf[i] = 'A'+i;
<font color=blue>/* Line 17 */</font>      buf[i] = '\0';
<font color=blue>/* Line 18 */</font>    
<font color=blue>/* Line 19 */</font>      printf("When I print buf with percent s, I get: %s\n", buf);
<font color=blue>/* Line 20 */</font>      printf("When I print str with percent s, I get: %s\n", str);
<font color=blue>/* Line 21 */</font>    
<font color=blue>/* Line 22 */</font>      cpps = buf;
<font color=blue>/* Line 23 */</font>      str[0] = 'X';
<font color=blue>/* Line 24 */</font>      cpps[1] = 'Y';
<font color=blue>/* Line 25 */</font>    
<font color=blue>/* Line 26 */</font>      cout &lt;&lt; "This is cpps: " &lt;&lt; cpps &lt;&lt; endl;
<font color=blue>/* Line 27 */</font>      cout &lt;&lt; "This is str:  " &lt;&lt; str &lt;&lt; endl;
<font color=blue>/* Line 28 */</font>      cout &lt;&lt; "This is buf:  " &lt;&lt; buf &lt;&lt; endl;
<font color=blue>/* Line 29 */</font>      return 0;
<font color=blue>/* Line 30 */</font>    }</pre></td></table></center><p>

On lines 9 and 10 of this program, I declare an array of ten characters called <b>buf</b>, and a character pointer
called <b>str</b>.  The very first action that I perform (on line 14) 
is have <b>str</b> point to the first byte of
<b>buf</b>.  This looks as follows:

<p><center><table border=3><td><img src=img/c_str1.jpg width=400></td></table></center><p>


In other words, I have allocated ten bytes, and I may access them in two ways -- via the
variable <b>buf</b> and via the variable <b>str</b>.  Next, (lines 16 - 20), 
I set the first five characters
to 'A', 'B', 'C', 'D', 'E' and 'F'.  I set the next character to the null character, and I print
out both <b>buf</b> and <b>str</b>.  At this point, they are:

<p><center><table border=3><td><img src=img/c_str2.jpg width=400></td></table></center><p>

I can see this when I run the program by taking a look at the first two lines of 
output:

<pre>
UNIX> <font color=darkred><b>make clean</b></font>
rm -f a.out bin/*
UNIX> <font color=darkred><b>make bin/c_str</b></font>
g++ -std=c++11 -Wall -Wextra -o bin/c_str src/c_str.cpp
UNIX> <font color=darkred><b>bin/c_str | head -n 2</b></font>
When I print buf with percent s, I get: ABCDEF
When I print str with percent s, I get: ABCDEF
UNIX> <font color=darkred><b></b></font>
</pre>

Next, (line 22), I assign the c++ string <b>cpps</b> to equal <b>buf</b>.  This creates a new C++
string which is a heavier-weight data structure, because it contains more information than simply
an array of bytes.  It copies the bytes of <b>buf</b> into its own data structure.  Here is a picture after line 22:
<p><center><table border=3><td><img src=img/c_str3.jpg width=400></td></table></center><p>

Finally, (lines 23) I change the first byte of <b>str</b> to 'X'.  Because <b>str</b> is pointing
to the same bytes as <b>buf</b>, that changes the first character of <b>buf</b>.  
I also change the second byte of <b>cpps</b> to 'Y'.  Although this looks like the previous statement,
it is a bit different, because the C++ string class overloads the bracket operators so that it finds
the underlying bytes of the string, and changes the second one.  Here's what they look like
afterward:

<p><center><table border=3><td><img src=img/c_str4.jpg width=400></td></table></center><p>

This explains the last three lines of output,
where I print out 
<b>cpps</b>,  
<b>str</b> and 
<b>buf</b>.

<pre>
UNIX> <font color=darkred><b>bin/c_str | tail -n 3</b></font>
This is cpps: AYCDEF
This is str:  XBCDEF
This is buf:  XBCDEF
UNIX> 
</pre>


Make sure you understand <i>every</i> line of this program, and in particular, why it is
that <b>str</b> and <b>buf</b> utilize the same string buffer, and <b>cpps</b> utilizes a
different string.

<hr>
<h3>C++ strings</h3>

Strings in C++ are very nicely handled -- you may manipulate them, allocate them, read them
and write them quite seamlessly.  You may view a C++ string as a class that has, at its core,
a C style string.  It's something like the following (this is not exactly right, but for the
purposes of this explanation, it's good enough):
<pre>
class string {
  public:
    unsigned long long size();
    char *c_str();
    ...
  private:
    char *underyling_string;
    unsigned long Size;
    ...
};
</pre>
When you create a string, for example:
<pre>
  int i;
  string s;

  for (i = 'A'; i < 'F'; i++) s.push_back(i);
</pre>

Then the string structure does some work to allocate memory for its string buffer, and
when the loop is done, you'll have <b>Size</b> equaling 5, and <b>underlying_string</b> will
point to a buffer of <i>at least</i> six bytes, the first 5 of which are 'A', 'B', 'C', 'D' and 'E',
and the last of which is '\0'.  We can view it as follows:

<p><center><table border=3><td><img src=img/S1.jpg></td></table></center><p>

You'll note, in the drawing above, the amount of memory that <b>underlying_string</b> is pointing
to is greater than the six characters required to store 'A' through 'E' and the null character.
That can happen, and it will be different from machine to machine.  However, let's go with 
this example.  Let's suppose you do two more "push_back" commands:
<pre>
  s.push_back('F');
  s.push_back('G');
</pre>
Our string now looks as follows:

<p><center><table border=3><td><img src=img/S2.jpg></td></table></center><p>

Now, suppose you do one more "push_back":
<pre>
  s.push_back('H');
</pre>

The pointer to the buffer that holds the string has run out of memory.  So, what the string
class does is allocate a new buffer, and copy the string there.  The state of our string will
look something like this:

<p><center><table border=3><td><img src=img/S3.jpg></td></table></center><p>

What I'm trying to convey here is that the old buffer is discarded and a new one is used.
The old buffer will be released to the memory management system to be reused, and the string
uses the new buffer until it fills up.

<hr>
<h3>The c_str() method of a C++ string</h3>

The <b>c_str()</b> method of a C++ string returns a <b>const char *</b>.  This is a pointer to the
first byte of the C-style string that is held in the class of the C++ string.  The keyword
"const" means that you should not try to modify this string, and if you do, the compiler
will exit with an error.  We can get around this, by the way, which we'll do later.
As I intimate above, a C++ string will keep filling in its underlying C-style string until
it runs out of room, at which point it allocates a new string.  We can prove that with the
following program, in 
<b><a href=src/buffer_changes.cpp>src/buffer_changes.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
#include &lt;iostream&gt;
using namespace std;

<font color=blue>/* This program demonstrates that as you call push_back(), the string class' 
   underlying string buffer will change.  This is because the buffer "fills up",
   and then the string implementation allocates a bigger buffer and copies
   the string over to it.  If you try to maintain a pointer to this old
   buffer, the pointer will become "stale" when the buffer changes. */</font>

int main()
{
  string s;
  const char *cs;
  int i;

  cs = s.c_str();                <font color=blue>// Store the pointer to the buffer in cs</font>

  for (i = 1; i &lt;= 10000; i++) {
    s.push_back('A');
    if (s.c_str() != cs) {       <font color=blue>// Print when the pointer changes.</font>
      printf("The underlying buffer changed at size: %d\n", i);
      cs = s.c_str();
    }
  }
  return 0;
}
</pre></td></table></center><p>

This keeps adding characters to a C++ string, <b>s</b>, and it notes when storage for the underlying
C-style string changes.  Check it out as it runs (on my linux box):

<pre>
UNIX> <font color=darkred><b>make bin/buffer_changes</b></font>
g++ -std=c++11 -Wall -Wextra -o bin/buffer_changes src/buffer_changes.cpp
UNIX> <font color=darkred><b>bin/buffer_changes</b></font>
The underlying buffer changed at size: 1
The underlying buffer changed at size: 2
The underlying buffer changed at size: 3
The underlying buffer changed at size: 5
The underlying buffer changed at size: 9
The underlying buffer changed at size: 17
The underlying buffer changed at size: 33
The underlying buffer changed at size: 65
The underlying buffer changed at size: 129
The underlying buffer changed at size: 257
The underlying buffer changed at size: 513
The underlying buffer changed at size: 1025
The underlying buffer changed at size: 2049
The underlying buffer changed at size: 8136
UNIX> <font color=darkred><b></b></font>
</pre>

I think we can all figure out that the underlying buffers are allocated to be powers of two,
although that last line is pretty odd.  These things change from machine to machine -- on my
macbook in 2018, I got the following output from this program:

<pre>
The underlying buffer changed at size: 23
The underlying buffer changed at size: 48
The underlying buffer changed at size: 96
The underlying buffer changed at size: 192
The underlying buffer changed at size: 384
The underlying buffer changed at size: 768
The underlying buffer changed at size: 1536
The underlying buffer changed at size: 3072
The underlying buffer changed at size: 6144
</pre>

<p>
One thing that you should get out of this program is that you should not store <b>c_str()</b>
pointers if you change the C++ string, because the underlying buffer can change.

<hr>
<h3>Don't mess with the bytes that <b>c_str()</b> returns, #1.</h3>

The <b>const</b> keyword typically keeps you out of danger, but you can get around it.  The
following program should show you why you shouldn't do that. Here, I "typecast" the return value
of <b>c_str()</b> to a <b>char *</b> that doesn't have the "const" keyword.  Then I modify
the C-style string so that it puts the null character after the first character.  Then I 
print out the C++ string's size, plus I print out the string using both <b>printf()</b> and 
<b>cout</b>.  The program is in 
<b><a href=src/bad_c_str.cpp>src/bad_c_str.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
#include &lt;iostream&gt;
using namespace std;

<font color=blue>/* This program shows what happens when you mess with
   the pointer returnd by the c_str() method of strings.
   You end up corrupting the string structure. */</font>

int main()
{
  string s;
  char *cs;

  <font color=blue>/* Here you set cs to point to the bytes of a string,
     and you set the character at index one to the
     NULL character. */</font>

  s = "ABCDE";
  cs = (char *)</font> s.c_str();
  cs[1] = '\0';
  
  <font color=blue>/* You'll note that it still reports that the size 
     is 5, even though when you print it, its size is one. */</font>
     
  cout &lt;&lt; "After setting index 1 to the NULL character.\n";
  cout &lt;&lt; s.size() &lt;&lt; endl;
  cout &lt;&lt; s &lt;&lt; endl;
  printf("%s\n", s.c_str());

  <font color=blue>/* When you call push_back on s, it indeed pushes the character
     'F' on the end of the string -- you'll see that the string
     is still corrupted. */</font>

  s.push_back('F');

  cout &lt;&lt; endl &lt;&lt; "After calling s.push_back('F'):\n";
  cout &lt;&lt; s.size() &lt;&lt; endl;
  cout &lt;&lt; s &lt;&lt; endl;
  printf("%s\n", s.c_str());
  
  return 0;
}
</pre></td></table></center><p>
When I run it (again on my mac), you see some pretty odd behavior:

<pre>
UNIX> <font color=darkred><b>make bin/bad_c_str</b></font>
g++ -std=c++11 -Wall -Wextra -o bin/bad_c_str src/bad_c_str.cpp
UNIX> <font color=darkred><b>bin/bad_c_str</b></font>
After setting index 1 to the NULL character.
5
ACDE
A

After calling s.push_back('F'):
6
ACDEF
A
UNIX> <font color=darkred><b></b></font>
</pre>


You'll note that putting the null character into <b>s</b> turns the C style string into a 
one-character string, but the C++ string retains its size, and when you print it out with 
<b>cout</b>, it basically skips over the null character and keeps printing.  When you print out
the <b>c_str()</b> with <b>printf()</b>, it stops at the null character.  
<p>
In other words, this is a program
itching with bugs.  Don't do what I've done here; however, it's good to see what's happening.

<hr>
<h3>sprintf()</h3>

<b>Sprintf()</b> does what <b>printf()</b> does, only it takes as its first argument a pointer
to a buffer of bytes, and instead of printing to the screen, it puts its output into that buffer.
Here's a very simple example of putting 5 numbers into a string
(<b><a href=src/sprintf1.cpp>src/sprintf1.cpp</a></b>):

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
#include &lt;iostream&gt;
using namespace std;

<font color=blue>/* This program uses sprintf() to put five numbers into a string. */</font>

int main()
{
  char buf[100];
  string s;
  int i;

  cin &gt;&gt; i;

  sprintf(buf, "%d %d %d %d %d", i, i+1, i+2, i+3, i+4);
  s = buf;

  cout &lt;&lt; s &lt;&lt; endl;

  return 0;
}
</pre></td></table></center><p>

When we run it, we see that the string <b>s</b> is set to "1 2 3 4 5":

<pre>
UNIX> <font color=darkred><b>make bin/sprintf1</b></font>
g++ -std=c++11 -Wall -Wextra -o bin/sprintf1 src/sprintf1.cpp
UNIX> <font color=darkred><b>echo 1 | bin/sprintf1</b></font>
1 2 3 4 5
UNIX> <font color=darkred><b></b></font>
</pre>

You want to make sure that you allocate a buffer that is big enough.  If you don't, the 
<b>sprintf()</b> call will overrun memory, and when you do that, odd things may happen.
Here's an example, in 
<b><a href=src/sprintf2.cpp>src/sprintf2.cpp</a></b>

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
#include &lt;iostream&gt;
using namespace std;

<font color=blue>/* This program makes a big mistake, and does not allocate enough 
   memory for the sprintf() call.  In particular, buf2 is only
   eight bytes, and the sprintf() call writes at least 10 bytes,
   and maybe more. */</font>

int main()
{
  char buf1[8];
  char buf2[8];
  char buf3[8];
  int i;

  buf1[0] = '\0';
  buf2[0] = '\0';
  buf3[0] = '\0';

  cin &gt;&gt; i;

  printf("Before:\n");
  printf("buf1: %s\n", buf1);
  printf("buf2: %s\n", buf2);
  printf("buf3: %s\n", buf3);

  <font color=blue>/* Here is where sprintf() overruns the bytes allocated for buf2. */</font>

  sprintf(buf2, "%d %d %d %d %d", i, i+1, i+2, i+3, i+4);

  printf("After:\n");
  printf("buf1: %s\n", buf1);
  printf("buf2: %s\n", buf2);
  printf("buf3: %s\n", buf3);

  return 0;
}
</pre></td></table></center><p>

If you're lucky, you get a seg-fault.  Here, you're not so lucky (again, this is on my mac --
results of this program will differ from machine to machine).  The weird behavior is <b>buf1</b>.
Look at what it is before and after the <b>sprintf()</b> statement:

<pre>
UNIX> <font color=darkred><b>make bin/sprintf2</b></font>
g++ -std=c++11 -Wall -Wextra -o bin/sprintf2 src/sprintf2.cpp
<font color=blue>src/sprintf2.cpp:32:3: warning: 'sprintf' will always overflow; destination buffer has size 8, but format string expands to at least 10 [-Wfortify-source]</font>
<font color=blue>  sprintf(buf2, "%d %d %d %d %d", i, i+1, i+2, i+3, i+4);</font>
<font color=blue>  ^</font>
<font color=blue>1 warning generated.</font>
UNIX> <font color=darkred><b>echo 10 | bin/sprintf2</b></font>
Before:
buf1: 
buf2: 
buf3: 
After:
buf1:  13 14                       <font color=blue> # You'll note that the end of "buf2" has spilled into "buf1".</font>
buf2: 10 11 12 13 14               <font color=blue> # This is a really nasty bug, which can be very hard to find.</font>
buf3: 
UNIX> <font color=darkred><b></b></font>
</pre>


We will explore this phenomenon in great detail in CS360.  For now, just remember to make
sure that your <b>sprintf()</b> buffers are big enough to hold the final strings.
Typically, if I use <b>sprintf()</b> in C++, I overallocate the buffer, and instantly 
copy the buffer to a C++ string right after the <b>sprintf()</b> call.  That way, I'm not
wasting memory, but I'm not exposing myself memory bugs like the one above.


<hr>
<h3>Don't mess with the bytes that <b>c_str()</b> returns, #2.</h3>

Students hate memory allocation, because it's a pain, and many languages let them get away without
doing it.  Therefore, I have seen students try to use <b>sprintf()</b> to create a string without
allocating a buffer for the <b>sprintf()</b> call
(this is in <b><a href=src/bad_c_str_2.cpp>src/bad_c_str_2.cpp</a></b>):

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
#include &lt;iostream&gt;
using namespace std;

<font color=blue>/* This is a program where you have sprintf() write bytes into
   a buffer that may or may not have been allocated.  The
   typecast statement is a good sign that you're doing something
   wrong here.  Without the typecast statement, the compiler won't
   compile this code, because you shouldn't be attempting to write
   into the bytes pointed to by c_str(). */</font>

int main()
{
  string s;

  sprintf((char *)</font> s.c_str(), "%d", 5);
  cout &lt;&lt; s &lt;&lt; endl;
  return 0;
}
</pre></td></table></center><p>

This is a disaster waiting to happen, because the c++ string doesn't know what's going on:
It may or may not have allocated enough memory in its underlying string.  Moreover, when you do 
the <b>sprintf()</b> call, the rest of the c++ string (e.g. the size field) doesn't know 
what has happened.  When I run this, it prints nothing.  When you want to use <b>sprintf()</b>,
you need to allocate the buffer yourself, and make sure that it's big enough.  Below (in 
<b><a href=src/good_c_str_2.cpp>src/good_c_str_2.cpp</a></b>), we only need two characters for
the buffer (for the '5' and the null character), but we use a ten-character buffer to be safe:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
#include &lt;iostream&gt;
using namespace std;

int main()
{
  string s;
  char buf[10];

  sprintf(buf, "%d", 5);
  s = buf;
  cout &lt;&lt; s &lt;&lt; endl;
}
</pre></td></table></center><p>

<hr>
<h3>sscanf()</h3>

<b>Sscanf()</b> does the opposite of <b>sprintf()</b>.  It takes a C-style string as its first
argument, and then a format string like <b>sprintf()</b>, and then it attempts to "read" from
the first string, converting what it has read into the proper data types.  The variables
into which it "reads" must be specified as pointers.  Let's look at an example (in
<b><a href=src/sscanf1.cpp>src/sscanf1.cpp</a></b>):

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
#include &lt;iostream&gt;
using namespace std;

<font color=blue>/* Read the integer 100 from the string "100" using sscanf(). */</font>

int main()
{
  string s;
  int i;

  s = "100";
  sscanf(s.c_str(), "%d", &i);
  printf("i = %d\n", i);

  return 0;
}
</pre></td></table></center><p>

This "reads" the string <b>s</b>, and converts it to an integer <b>i</b>, which it then prints:

<pre>
UNIX> <font color=darkred><b>make bin/sscanf1</b></font>
g++ -std=c++11 -Wall -Wextra -o bin/sscanf1 src/sscanf1.cpp
UNIX> <font color=darkred><b>bin/sscanf1</b></font>
i = 100
UNIX> <font color=darkred><b></b></font>
</pre>

You can specify multiple inputs to read, and <b>sscanf()</b> will return the number of items
that it read successfully.   The program below
(<b><a href=src/sscanf2.cpp>src/sscanf2.cpp</a></b>) reads a line of text, and then tries to 
interpret that line as a double, followed by a space, and an int.  It then prints out how 
many "matches" it made, the double and the int.

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
#include &lt;iostream&gt;
using namespace std;

<font color=blue>/* This program reads a line of text with getline(), and then
   uses sscanf() which attempts to read the string as a double,
   followed by a space, and an integer.  The number of correct
   "matches" is returned from sscanf().  This program prints the
   number of matches, and then the double and integer.   If sscanf()
   was unsuccessful with a conversion, then the double and/or 
   integer will remain as uninitialized variables. */</font>

int main()
{
  string s;
  int i, n;
  double d;
  

  getline(cin, s);
  n = sscanf(s.c_str(), "%lf %d", &d, &i);
  printf("n = %d.  d = %lf.  i = %d\n\n", n, d, i);
  return 0;
}
</pre></td></table></center><p>
Here it is running on a variety of inputs.  Make sure you understand all of these outputs. 
In particular, if it can't match the initial double, then it won't match the integer, ever:

<pre>
UNIX> <font color=darkred><b>make bin/sscanf2</b></font>
g++ -std=c++11 -Wall -Wextra -o bin/sscanf2 src/sscanf2.cpp
UNIX> <font color=darkred><b>echo 10.5 5 | bin/sscanf2</b></font>
n = 2.  d = 10.500000.  i = 5

UNIX> <font color=darkred><b>echo 10.5 Fred | bin/sscanf2</b></font>
n = 1.  d = 10.500000.  i = 0

UNIX> <font color=darkred><b>echo Fred 5 | bin/sscanf2</b></font>
n = 0.  d = 0.000000.  i = 0                 <font color=blue> # Since it doesn't match the initial double, it won't match the integer either.</font>

UNIX> <font color=darkred><b>echo 10.5xyz 55 | bin/sscanf2</b></font>
n = 1.  d = 10.500000.  i = 0

UNIX> <font color=darkred><b>echo go vols | bin/sscanf2</b></font>
n = 0.  d = 0.000000.  i = 0

UNIX> <font color=darkred><b></b></font>
</pre>

Your input fields don't have to be separated by spaces.  The following program reads lines of
text, which are in the format "h:m:s".
(in <b><a href=src/sscanf3.cpp>src/sscanf3.cpp</a></b>):

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
#include &lt;iostream&gt;
using namespace std;

int main()
{
  string l;
  int h, m, s, n;
  double d;
  
  getline(cin, l);
  n = sscanf(l.c_str(), "%d:%d:%d", &h, &m, &s);
  printf("n = %d.  h = %d.  m = %d.  s = %d.\n", n, h, m, s);
  return 0;
}
</pre></td></table></center><p>

That may well be handy for lab 1.....

<pre>
UNIX> <font color=darkred><b>g++ -std=c++11 sscanf3.cpp</b></font>
UNIX> <font color=darkred><b>echo '55:33:22' | ./a.out</b></font>
n = 3.  h = 55.  m = 33.  s = 22.
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3> But Dr. Plank, why is it ok to use c_str() in sscanf(), but not in sprintf()?</h3>

It's ok because <b>sscanf()</b> does not modify the bytes in its first argument.  It 
merely reads them, so our code is fine.  On the other hand, <b>sprintf()</b> does modify
the bytes of its first argument, and that's why we shouldn't use it.

<hr>
<h3> What about snprintf() -- doesn't that solve the problems with sprintf? </h3>

There is an alternative to <b>sprintf()</b> named <b>snprintf()</b>, and some compilers have
started to emit a warning when they see <b>sprintf()</b>, advocating that you use <b>snprintf()</b>
instead.  With <b>snprintf()</b>, you pass the size of the buffer as an argument.  For example,
<b><a href=src/snprintf.cpp>src/snprintf.cpp</a></b> is identical to
<b><a href=src/sprintf1.cpp>src/sprintf1.cpp</a></b>, except it uses <b>snprintf()</b> instead
of <b>sprintf()</b>:

<p><center><table border=3 cellpadding=3><td><pre>
  <font color=blue>// ...</font>
  snprintf(buf, 100, "%d %d %d %d %d", i, i+1, i+2, i+3, i+4);
  <font color=blue>// ...</font>
</pre></td></table></center><p>

It's a good habit to get into, because it will catch some bugs which can otherwise be disastrous
and hard to find.  It's not a panacea, though, because you can give it an incorrect size, and
it will still compile and run in a buggy fashion.  I won't demonstrate that here, so just take
my word for it.  You'll typically see me use <b>sprintf()</b> instead of <b>snprintf()</b>,
partially because of habit, and partially because I feel like I feel it's unneccessary, so long
as you are programming carefully.

<hr>
<h3> Q & A: What if there is a string before the time in src/sscanf3.cpp? </h3>

Please see
<a href=pdf/2022-01-25-Piazza.pdf>pdf/2022-01-25-Piazza.pdf</a>.

