<center>
<p>
<i>E = ( a &or; b &or; c ) 
&and;
( <span style="text-decoration:overline">a</span>  &or; 
  <span style="text-decoration:overline">b</span>  &or; 
  <span style="text-decoration:overline">d</span>  )
&and;
(                                        a         &or; 
  <span style="text-decoration:overline">c</span>  &or; 
  <span style="text-decoration:overline">d</span>  )
&and;
( <span style="text-decoration:overline">b</span>  &or; 
  c &or; 
  d  )
&and;
( <span style="text-decoration:overline">a</span>  &or; 
  <span style="text-decoration:overline">b</span>  &or; 
  c  )
&and;
( b  &or; 
  <span style="text-deboration:overline">c</span>  &or; 
  d  )
&and;
( b  &or; 
  c  &or; 
  <span style="text-decoration:overline">d</span>  )
</i><p>
</center>
