<h3>Godel's second incompleteness theorem</h3>

A little hard to parse:

<UL>
<LI> Given a formal system containing basic arithmetic.
<LI> You can define a formula for "consistency", basically that says that the numbers and arithmetic make sense.
<LI> This is often reduced to, "There are ways to prove that 0 = 1 using the axioms of the formal system.
<LI> It is impossible to prove this consistency, using the axioms of the formal system.
</UL>
