<p><center><table border=3 cellpadding=3>
<td valign=top><a href=../img/Ex-Graph-W.png><IMG src=../img/Ex-Graph-W.png width=130></a></td>
<td valign=top><b>Adjacency Lists</b>:
<pre>
 0: 1, 3
 1: 0, 2, 3
 2: 1, 5
 3: 0, 1, 4
 4: 3, 5, 6
 5: 4, 6, 7
 6: 4, 5
 7: 5
</pre>
</table></center><p>
